html {
	font-family: "PT Sans", sans-serif;
}

body {
	background: url("../img/background.jpg") no-repeat center center fixed;
	background-size: cover;
}

button {
	padding: 10px 5px;
	border: 1px solid #000;
	border-radius: 10px;
	color: #fff;
	background-color: rgb(80, 161, 212);
	cursor: pointer;
}

button:disabled {
	background-color: #676767;
	cursor: not-allowed;
}

.hidden {
	/* display: none; */
	opacity: 0 !important;
	visibility: hidden;
}

.container {
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	height: 100vh;
	position: relative;
}

.alert {
	border: 1px solid red;
	position: fixed;
	top: 2vh;
	left: 2vw;
	max-width: 250px;
	visibility: visible;
	transition: opacity 0.3s linear;
	opacity: 1;
	text-align: center;
	color: #fff;
	background-color: #e34a4a;
	padding: 20px 30px;
	border-radius: 20px;
}

.box {
	position: relative;
	width: 600px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 50px;
	background-color: #fff;
	border-radius: 10px;
	opacity: 0.95;
	padding: 10px 20px;
}

.column {
	display: flex;
	flex-direction: column;
}

.text-input {
	padding: 9px 10px;
	border-radius: 10px;
	outline: none;
	font-size: 18px;
	border: 1px solid #000;
	margin-bottom: 50px;
}

.buttons {
	display: flex;
	margin-top: 20px;
}

.buttons button {
	width: 100%;
	margin: 5px;
}

.prediction h3 {
	margin: 1px 0;
}

.answer {
	margin-top: 40px;
	border: 1px #000 dotted;
	padding: 10px 10px;
}

.answer button {
	width: 50%;
}

.clear-choice {
	color: #e34a4a;
	font-size: 12px;
	margin-top: 5px;
	cursor: pointer;
}
